body{
  background-color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h1{
    text-align: center;
    color:whitesmoke;
    text-decoration: underline;
}

.div1,.div2,.div3,.div4,.div5{
    overflow:hidden;
    align-items: flex-end;
}

p {
    float: right;
    width: 70%;
    margin-top: 60px;
    padding: 20px;
    font-size:larger;
    color:whitesmoke;
}

img {
    float:left;
    width: 20%;
    margin: 20px;
}

h2 {
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    padding: 5%;
    margin: 20px;;
}